* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #422057;
}

.container {
    width: 50vw;
}

.slider-container {
    position: relative;
}

.slider-container .bar {
    position: absolute;
    z-index: 1;
    top: 4px;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.slider-container .bar .fill {
    display: block;
    width: 0;
    height: 100%;
    background-color: #fcf951;
}

.slider-container .slider {
    -webkit-appearance: none;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-color: #fcf951;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.slider-container .slider::-webkit-slider-thumb:hover,
.slider-container .slider::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 20px #fcf95140;
}


/* for firefox browser */

.slider-container .slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-color: #fcf951;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.slider-container .slider::-moz-range-thumb:hover,
.slider-container .slider::-moz-range-thumb:active {
    box-shadow: 0 0 0 20px #fcf95140;
}